
*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;

}
body{
    display: flex;
    flex-direction: column;
    background-image: url("../imagenes/cobranza.jpg");
    background-attachment: fixed;
    background-size: 450px;
    align-items: center;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}

.logoNav{
    width: 200px;
    
}
.navegacion{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.294);

}

.formIngreso{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    text-align: center;
    background-color: #009cfb;
    border-bottom-right-radius: 30px;
    padding: 40px;
    margin-top: 80px;
}
.divInp{
    text-align: start;
    width: 100%;
    margin-top: 20px;
}
.inpForm{
    width: 100%;
    height: 30px;
    margin: 0;
}
.btnAceptar{
    width: 100%;
    height: 35px;
    margin: 0;
    background-color: #db0e00;
    color: white;
    border-bottom-right-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
 
}
.tituloInp{
    color: white;
}
a{
    text-decoration: none;
}
.tituloForm{
    color: white;
    font-style: italic;
   
}
.footerIngreso{
    height: 80px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   text-align: center;
    font-size: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.294);
    padding-top: 5px;
}
.divContactosFooter{
    
    width: 120px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
